@tailwind base;
@tailwind components;
@tailwind utilities;

html {
    scroll-behavior: smooth;
}

.slide-text {
    animation: slidetext 3s;
}

.pixel {
    background-image: url(./media/images/portfolio-pixel.png);
    background-size: 20rem;
}

.conducting {
    background-image: url(./media//images/conducting.jpg);
    background-size: 80rem;
    
}

.spacer-background {
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-position: center;
}

.project-container .project-desc {
    opacity: 0;
    animation: fadeout .6s;
}

.project-container:hover .project-desc {
    animation: fadein .6s;
    opacity: 1;
    
}

.fade-in {
    animation: fadein 4s;
}

@keyframes slidetext {
    from { transform: translateY(100%); }
    to { transform: translateY(0%); }
}

@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

@keyframes fadeout {
    from { opacity: 1; }
    to { opacity: 0; }
}

@media (min-width: 768px) {
    .spacer-background {
        background-attachment: fixed;
    }
    .pixel {
        background-size: 40rem;
    }
    .conducting {
        background-size: 160rem;
    }
}